Dear M1 Customer,<br>
<br>
A new M1 Cloud Application Service has been created for you, please proceed to the URL below with customer portal login details as below:<br>
<br>
<pre>
URL                   : https://dashboard.cas.m1net.com.sg
Tenant Admin Login ID : {{ username }}
Password              : {{ password }}
</pre><br>
<br>
As a first step, please log in to activate the Google Authenticator (2FA).<br>
<br>
If you have any questions, please feel free to contact M1 via email corp_ts@m1.com.sg or you may call 66555577 for assistance.<br>
<br>
<br>
Best regards,<br>
M1 Corporate Solutions

